<form [formGroup]="forecastForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label for="dateFormatted">Date (Formatted)</label>
        <input type="datetime-local" id="dateFormatted" class="form-control"
               formControlName="dateFormatted" required>
        <div *ngIf="dateFormatted.invalid && (dateFormatted.dirty || dateFormatted.touched)">
            <span *ngIf="dateFormatted.errors.required">
                <i class="text-danger">Date is required.</i>
            </span>
            <span *ngIf="dateFormatted.errors.minlength">
                <i class="text-danger">Date must be at least 10 characters long.</i>
            </span>
            <span *ngIf="dateFormatted.errors.existingDate"> 
                <i class="text-danger">Date already exists.</i>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="temperatureC">Temperature in Celcius</label>
        <input id="temperatureC" class="form-control" formControlName="temperatureC">
        <div *ngIf="temperatureC.invalid && (temperatureC.dirty || temperatureC.touched)">
            <span *ngIf="temperatureC.errors.required">
                <i class="text-danger">Temperature in celcius is required.</i>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="temperatureF">Temperature in Farenheit</label>
        <input id="temperatureF" class="form-control" formControlName="temperatureF">
    </div>
    <div class="form-group">
        <label for="summary">Summary</label>
        <select id="summary" class="form-control" formControlName="summary">
            <option *ngFor="let summary of summaries" [value]="summary">{{summary}}</option>
        </select>
    </div>
    <button type="submit"
            [disabled]="forecastForm.pristine || forecastForm.invalid" class="btn btn-success">
        Save
    </button>
</form>
<!--<p>forecastForm value: {{ forecastForm.value | json}}</p>-->
