<mat-toolbar color="primary">
    <span>ASP.NET Core Angular SPA</span>
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>web</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/counter']">
        <mat-icon>timer</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/forecasts']">
        <mat-icon>cloud download</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/users']">
        <mat-icon>person pin</mat-icon>
    </button>
</mat-toolbar>