<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Asp.Net Core AngularSpa</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/forecasts']">
                        <span class='glyphicon glyphicon-th-list'></span> Forecast
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/users']">
                        <span class='glyphicon glyphicon-user'></span> User
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->

<mat-toolbar color="primary">
    <span>ASP.NET Core Angular SPA</span>
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>web</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/counter']">
        <mat-icon>timer</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/forecasts']">
        <mat-icon>cloud download</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/users']">
        <mat-icon>person pin</mat-icon>
    </button>
</mat-toolbar>